[user]
	name = Sergio Ribeiro
	username = ssribeiroLMMP
	email = sergio@lmmp.mec.puc-rio.br
[credential]
	helper = "!f() { /home/sergio/.vscode-server/bin/f1a4fb101478ce6ec82fe9627c43efbf9e98c813/node /tmp/vscode-remote-containers-c90433e4-090e-4c76-bb9f-c284ef19be06.js git-credential-helper $*; }; f"
